a,
abbr,
address,
area,
article,
aside,
audio,
b,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
datalist,
dd,
del,
details,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
img,
input,
ins,
label,
legend,
li,
main,
map,
mark,
menu,
menuitem,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
s,
samp,
script,
section,
select,
small,
source,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
track,
u,
ul,
var,
video,
wbr {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
button {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit;
  background-color: transparent;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
.Btn {
  display: inline-block;
  padding: 8.16px 13.6px;
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
.Btn[aria-disabled="true"]:hover {
  cursor: default;
}
.Btn[aria-disabled="false"]:hover {
  cursor: pointer;
}
.Btn[aria-pressed]:hover {
  cursor: pointer;
}
.Btn--themeOutline {
  color: #204179;
  background-color: transparent;
  border-color: #204179;
  border-style: solid;
  border-width: 2px;
  -webkit-transition: all 230ms linear;
  -moz-transition: all 230ms linear;
  -ms-transition: all 230ms linear;
  -o-transition: all 230ms linear;
  transition: all 230ms linear;
}
.Btn--themeOutline[aria-disabled="true"] {
  color: rgba(32, 65, 121, 0.45);
  border-color: rgba(32, 65, 121, 0.45);
}
.Btn--themeOutline[aria-disabled="false"]:hover {
  color: #fff;
  background-color: #204179;
  border-color: #204179;
}
.Btn--themeOutline[aria-disabled="false"]:active {
  color: #fff;
  background-color: rgba(32, 65, 121, 0.7);
  border-color: transparent;
}
.ListSingleLine {
  display: block;
}
.ListSingleLine-content {
  display: inline;
}
.ListSingleLine-title {
  display: inline-block;
  padding-right: 6px;
}
.ListSingleLine-items {
  display: inline;
}
.ListSingleLine-item {
  display: inline-block;
  padding-right: 6px;
}
.SocialIcon {
  width: 21px;
  height: 21px;
}
.SocialIcon:hover {
  opacity: 0.4;
}
.SocialIcon:active {
  opacity: 0.8;
}
.SocialIcon-img {
  display: block;
  width: 21px;
  height: 21px;
}
.SocialIcon-link {
  display: block;
}
.Tooltip {
  position: relative;
}
.Tooltip:focus .Tooltip-text,
.Tooltip:hover .Tooltip-text {
  opacity: 1;
  visibility: visible;
}
.Tooltip-text {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 1.6px 6.4px;
  font-family: Taviraj, Georgia, serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #204179;
  background-color: #ffe593;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 360ms;
  -moz-transition: opacity 360ms;
  -ms-transition: opacity 360ms;
  -o-transition: opacity 360ms;
  transition: opacity 360ms;
}
.Tooltip-text::after {
  position: absolute;
  bottom: -9.33px;
  right: 9.33px;
  width: 0;
  height: 0;
  border-color: #ffe593 transparent transparent;
  border-style: solid;
  border-width: 9.33px 9.33px 0;
  content: "";
  box-sizing: border-box;
}
.Page {
  height: 100%;
  font: 300 10px/1.63 Taviraj, Georgia, serif;
  color: #000;
  letter-spacing: 0.05em;
}
.Page-content {
  position: relative;
}
.Page-contentBody {
  position: relative;
  height: 100%;
  font-size: 1.8rem;
  line-height: 1.63;
}
.Page-header {
  position: relative;
  width: 100%;
  height: 101vh;
}
@media screen and (min-width: 1020px) {
  .Page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
  }
}
.Page-main {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1020px) {
  .Page-main {
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
  }
}
.Page-headline {
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3;
  color: #204179;
  text-transform: uppercase;
}
.Page-headlineSub {
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-weight: 300;
  line-height: 1.63;
  text-transform: uppercase;
}
.Page-img {
  display: block;
  max-width: 100%;
}
.Page-link {
  color: inherit;
  text-decoration: none;
}
.Page-link:hover {
  color: rgba(19, 140, 108, 0.6);
}
.Page-link:active {
  color: #138c6c;
}
.Page-socialIcon {
  display: inline-block;
  margin-right: 6px;
  margin-left: 6px;
}
.Page-title {
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 1.2;
  color: #18af86;
  text-align: center;
  text-transform: uppercase;
}
.PageHeader {
  position: relative;
  height: 101vh;
  background-color: #c3f6e8;
}
.PageHeader::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../pattern.png);
  content: "";
  opacity: 0.23;
}
@media screen and (max-height: 449px) {
  .PageHeader--noJs {
    height: auto;
  }
}
.PageHeader-content {
  position: absolute;
  top: 44%;
  left: 50%;
  width: 100%;
  padding: 0 7.5%;
  -webkit-transform: translate3d(-50%, -44%, 0);
  -moz-transform: translate3d(-50%, -44%, 0);
  -ms-transform: translate3d(-50%, -44%, 0);
  -o-transform: translate3d(-50%, -44%, 0);
  transform: translate3d(-50%, -44%, 0);
}
@media screen and (max-height: 449px) {
  .PageHeader-content--noJs {
    position: relative;
    padding-top: 10%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
.PageHeader-headline {
  color: #204179;
  text-align: center;
}
.PageHeader-logo {
  width: 95px;
  margin-right: auto;
  margin-left: auto;
}
.PageHeader-socialFooter {
  position: absolute;
  bottom: 3.5%;
  left: 50%;
  display: inline-block;
  padding-bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-height: 449px) {
  .PageHeader-socialFooter--noJs {
    position: relative;
    padding-bottom: 3.5%;
  }
}
.PageHeader-socialFooterText {
  font-size: 1.3rem;
  text-align: center;
}
.PageHeader-sxnTitle {
  position: relative;
  padding-top: 1.6rem;
  text-align: center;
}
.PageHeader-text {
  text-align: center;
}
.PageHeader-text--emphasis {
  font-weight: 500;
}
.PageHeader-title {
  display: inline-block;
}
.PageHeader-tooltip {
  position: absolute;
}
.PageHeader-tooltip::after {
  position: absolute;
  top: 6.6px;
  right: -26.08px;
  width: 20.8px;
  height: 20.8px;
  font-family: Taviraj, Georgia, serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #fff;
  text-transform: none;
  vertical-align: middle;
  background-color: rgba(27, 173, 134, 0.4);
  border-radius: 10.4px;
  content: "i";
  box-sizing: border-box;
}
.PageHeader-tooltipText {
  top: -32.6px;
  right: -34.56px;
  width: 270px;
  text-align: center;
  text-transform: none;
}
.PageMain {
  padding: 52px 32px;
}
.PageMain-sxn {
  margin-bottom: 52px;
}
.EducationSxn {
  position: relative;
}
.ExperienceSxn {
  position: relative;
}
.ExperienceSxn-duties {
  padding-left: 20px;
  list-style: outside;
}
.ExperienceSxn-header {
  margin-bottom: 16px;
}
.ExperienceSxn-headline {
  font-weight: 300;
}
.ProjectSxn-description {
  margin-bottom: 16px;
}
.ProjectSxn-itemTitle {
  font-weight: 500;
}
.ResumeBtn {
  text-align: center;
}
.ResumeBtn--noJs {
  margin-top: 26px;
  margin-bottom: 52px;
}
.Skillset-skill {
  display: inline-block;
  padding-right: 6px;
}
.Skillset-title {
  display: inline-block;
  font-weight: 500;
}
.Sxn {
  position: relative;
}
.Sxn::after {
  display: block;
  content: "";
  clear: both;
  box-sizing: border-box;
}
.Sxn-content {
  float: left;
  width: 100%;
}
@media screen and (min-width: 760px) {
  .Sxn-content {
    width: 80%;
  }
}
.Sxn-date {
  position: relative;
  font-weight: 400;
  color: #204179;
}
@media screen and (min-width: 690px) {
  .Sxn-date {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 760px) {
  .Sxn-date {
    position: relative;
  }
}
@media screen and (min-width: 840px) {
  .Sxn-date {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 1020px) {
  .Sxn-date {
    position: relative;
  }
}
@media screen and (min-width: 1190px) {
  .Sxn-date {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.Sxn-headline {
  font-weight: 500;
}
.Sxn-textHighlight {
  font-weight: 400;
  color: #138c6c;
}
.Sxn-title {
  float: left;
  width: 100%;
  margin-bottom: 13px;
}
@media screen and (min-width: 760px) {
  .Sxn-title {
    width: 20%;
  }
}
.SxnExperience-sxn {
  margin-bottom: 26px;
}
.SxnProject-sxn {
  margin-bottom: 26px;
}
.SxnSkill-skillset {
  margin-bottom: 16px;
}
