/* ========================================================================== */
/* Reset Elements
/* ========================================================================== */

a,
abbr,
address,
area,
article,
aside,
audio,
b,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
datalist,
dd,
del,
details,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
img,
input,
ins,
label,
legend,
li,
main,
map,
mark,
menu,
menuitem,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
s,
samp,
script,
section,
select,
small,
source,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
track,
u,
ul,
var,
video,
wbr {
  /* Box Model */
  padding: 0;
  margin: 0;

  /* Viual */
  border: 0;

  /* Misc */
  box-sizing: border-box;
}

button {
  /* Typography */
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit;

  /* Visual */
  background-color: transparent;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

/* ========================================================================== */
/*
/* Library Stylings
/*
/* ========================================================================== */

/* ========================================================================== */
/* Btn 
/* ========================================================================== */

.Btn {
  /* Box Model */
  display: inline-block;
  padding: 8.16px 13.6px;

  /* Typography */
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: uppercase;

  /* Visual */
  border-radius: 3px;
}

.Btn[aria-disabled="true"]:hover {
  cursor: default;
}

.Btn[aria-disabled="false"]:hover {
  cursor: pointer;
}

.Btn[aria-pressed]:hover {
  cursor: pointer;
}

/* Btn Theme */
.Btn--themeOutline {
  color: rgb(32, 65, 121);
  background-color: transparent;
  border-color: rgb(32, 65, 121);
  border-style: solid;
  border-width: 2px;
  -webkit-transition: all 230ms linear;
  -moz-transition: all 230ms linear;
  -ms-transition: all 230ms linear;
  -o-transition: all 230ms linear;
  transition: all 230ms linear;
}

.Btn--themeOutline[aria-disabled="true"] {
  color: rgba(32, 65, 121, 0.45);
  border-color: rgba(32, 65, 121, 0.45);
}

.Btn--themeOutline[aria-disabled="false"]:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 65, 121);
  border-color: rgb(32, 65, 121);
}

.Btn--themeOutline[aria-disabled="false"]:active {
  color: rgb(255, 255, 255);
  background-color: rgba(32, 65, 121, 0.7);
  border-color: transparent;
}

/* ========================================================================== */
/* List on a single line 
/* ========================================================================== */

.ListSingleLine {
  display: block;
}

.ListSingleLine-content {
  display: inline;
}

.ListSingleLine-title {
  /* Box Model */
  display: inline-block;
  padding-right: 6px;
}

.ListSingleLine-items {
  display: inline;
}

.ListSingleLine-item {
  /* Box Model */
  display: inline-block;
  padding-right: 6px;
}

/* ========================================================================== */
/* Social Icon
/* ========================================================================== */

.SocialIcon {
  /* Box Model */
  width: 21px;
  height: 21px;
}

.SocialIcon:hover {
  opacity: 0.4;
}

.SocialIcon:active {
  opacity: 0.8;
}

.SocialIcon-img {
  /* Box Model */
  display: block;
  width: 21px;
  height: 21px;
}

.SocialIcon-link {
  display: block;
}

/* ========================================================================== */
/* Tooltip
/* ========================================================================== */

.Tooltip {
  position: relative;
}

/* Tooltip :: focus and hover tooltip text */
.Tooltip:focus .Tooltip-text,
.Tooltip:hover .Tooltip-text {
  /* Misc */
  opacity: 1;
  visibility: visible;
}

.Tooltip-text {
  /* Positioning */
  position: absolute;
  top: 0;
  right: 0;

  /* Box Model */
  display: inline-block;
  padding: 1.6px 6.4px;

  /* Typography */
  font-family: "Taviraj", Georgia, serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(32, 65, 121);

  /* Visual */
  background-color: rgb(255, 229, 147);
  border-radius: 3px;

  /* Misc */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 360ms;
  -moz-transition: opacity 360ms;
  -ms-transition: opacity 360ms;
  -o-transition: opacity 360ms;
  transition: opacity 360ms;
}

/* Tooltip-text :: arrow */
.Tooltip-text::after {
  /* Positioning */
  position: absolute;
  bottom: -9.33px;
  right: 9.33px;

  /* Box Model */
  width: 0;
  height: 0;

  /* Visual */
  border-color: rgb(255, 229, 147) transparent transparent;
  border-style: solid;
  border-width: 9.33px 9.33px 0;

  /* Misc */
  content: "";
  box-sizing: border-box;
}

/* ========================================================================== */
/*
/* Project Specific Stylings
/*
/* ========================================================================== */

/* ========================================================================== */
/* Page
/* ========================================================================== */

.Page {
  /* Box Model */
  height: 100%;

  /* Typography */
  font: 300 10px/1.63 "Taviraj", Georgia, serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.05em;
}

.Page-content {
  position: relative;
}

.Page-contentBody {
  /* Position */
  position: relative;

  /* Box Model */
  height: 100%;

  /* Typography */
  font-size: 1.8rem;
  line-height: 1.63;
}

.Page-header {
  /* Position */
  position: relative;

  /* Box Model */
  width: 100%;
  height: 101vh;
}

/* Page: header Media Queries */
@media screen and (min-width: 1020px) {
  .Page-header {
    /* Position */
    position: fixed;
    top: 0;
    left: 0;

    /* Box Model */
    width: 30%;
  }
}

.Page-main {
  /* Position */
  position: relative;

  /* Box Model */
  width: 100%;
}

/* Page: main Media Queries */
@media screen and (min-width: 1020px) {
  .Page-main {
    /* Position */
    position: absolute;
    top: 0;
    left: 30%;

    /* Box Model */
    width: 70%;
  }
}

.Page-headline {
  /* Typography */
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3;
  color: rgb(32, 65, 121);
  text-transform: uppercase;
}

.Page-headlineSub {
  /* Typography */
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-weight: 300;
  line-height: 1.63;
  text-transform: uppercase;
}

.Page-img {
  /* Box Model */
  display: block;
  max-width: 100%;
}

.Page-link {
  /* Typography */
  color: inherit;
  text-decoration: none;
}

.Page-link:hover {
  color: rgba(19, 140, 108, 0.6);
}

.Page-link:active {
  color: rgb(19, 140, 108);
}

.Page-socialIcon {
  /* Box Model */
  display: inline-block;
  margin-right: 6px;
  margin-left: 6px;
}

.Page-title {
  /* Typography */
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(24, 175, 134);
  text-align: center;
  text-transform: uppercase;
}

/* ========================================================================== */
/* PageHeader
/* ========================================================================== */

.PageHeader {
  /* Positioning */
  position: relative;

  /* Box Model */
  height: 101vh;

  /* Theme */
  background-color: rgb(195, 246, 232);
}

/* PageHeader: Background Overlay */
.PageHeader::before {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;

  /* Box Model */
  height: 100%;
  width: 100%;

  /* Visual */
  background-image: url("../pattern.png");

  /* Misc */
  content: "";
  opacity: 0.23;
}

/* PageHeader Media Queries */
@media screen and (max-height: 449px) {
  .PageHeader {
    height: auto;
  }
}

.PageHeader-content {
  /* Position */
  position: absolute;
  top: 44%;
  left: 50%;

  /* Box Model */
  width: 100%;
  padding: 0 7.5%;

  /* Misc */
  -webkit-transform: translate3d(-50%, -44%, 0);
  -moz-transform: translate3d(-50%, -44%, 0);
  -ms-transform: translate3d(-50%, -44%, 0);
  -o-transform: translate3d(-50%, -44%, 0);
  transform: translate3d(-50%, -44%, 0);
}

/* PageHeader: content Media Queries */
@media screen and (max-height: 449px) {
  .PageHeader-content {
    /* Position */
    position: relative;

    /* Box Model */
    padding-top: 10%;

    /* Misc */
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.PageHeader-headline {
  /* Typography */
  color: rgb(32, 65, 121);
  text-align: center;
}

.PageHeader-logo {
  /* Box Model */
  width: 95px;
  margin-right: auto;
  margin-left: auto;
}

.PageHeader-socialFooter {
  /* Position */
  position: absolute;
  bottom: 3.5%;
  left: 50%;

  /* Box Model */
  display: inline-block;
  padding-bottom: 0;

  /* Misc */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* PageHeader: social footer Media Queries */
@media screen and (max-height: 449px) {
  .PageHeader-socialFooter {
    /* Position */
    position: relative;

    /* Box Model */
    padding-bottom: 3.5%;
  }
}

.PageHeader-socialFooterText {
  /* Typography */
  font-size: 1.3rem;
  text-align: center;
}

.PageHeader-sxnTitle {
  /* Positioning */
  position: relative;

  /* Box Model */
  padding-top: 1.6rem;

  /* Typography */
  text-align: center;
}

.PageHeader-text {
  /* Typography */
  text-align: center;
}

.PageHeader-text--emphasis {
  font-weight: 500;
}

.PageHeader-title {
  display: inline-block;
}

.PageHeader-tooltip {
  position: absolute;
}

/* PageHeader: tooltip "i" */
.PageHeader-tooltip::after {
  /* Positioning */
  position: absolute;
  top: 6.6px;
  right: -26.08px;

  /* Box Model */
  width: 20.8px;
  height: 20.8px;

  /* Typography */
  font-family: "Taviraj", Georgia, serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: rgb(255, 255, 255);
  text-transform: none;
  vertical-align: middle;

  /* Visual */
  background-color: rgba(27, 173, 134, 0.4);
  border-radius: 10.4px;

  /* Misc */
  content: "i";
  box-sizing: border-box;
}

.PageHeader-tooltipText {
  /* Positioning */
  top: -32.6px;
  right: -34.56px;

  /* Box Model */
  width: 270px; /* accommodates extra space with hypen points on some browsers */

  /* Typography */
  text-align: center;
  text-transform: none;
}

/* ========================================================================== */
/* PageMain
/* ========================================================================== */

.PageMain {
  padding: 52px 32px;
}

.PageMain-sxn {
  margin-bottom: 52px;
}

/* ========================================================================== */
/* Education Section 
/* ========================================================================== */

.EducationSxn {
  position: relative;
}

/* ========================================================================== */
/* Experience Section 
/* ========================================================================== */

.ExperienceSxn {
  position: relative;
}

.ExperienceSxn-duties {
  /* Box Model */
  padding-left: 20px;

  /* Visual */
  list-style: outside;
}

.ExperienceSxn-header {
  margin-bottom: 16px;
}

.ExperienceSxn-headline {
  font-weight: 300;
}

/* ========================================================================== */
/* Project Section 
/* ========================================================================== */

.ProjectSxn-description {
  margin-bottom: 16px;
}

.ProjectSxn-itemTitle {
  font-weight: 500;
}

/* ========================================================================== */
/* Resume Button 
/* ========================================================================== */

.ResumeBtn {
  text-align: center;
}

.ResumeBtn--noJs {
  /* Box Model */
  margin-top: 26px;
  margin-bottom: 52px;
}

/* ========================================================================== */
/* Skillset 
/* ========================================================================== */

.Skillset-skill {
  /* Box Model */
  display: inline-block;
  padding-right: 6px;
}

.Skillset-title {
  /* Box Model */
  display: inline-block;

  /* Typography */
  font-weight: 500;
}

/* ========================================================================== */
/* Section
/* ========================================================================== */

.Sxn {
  position: relative;
}

/* Section :: float clearing */
.Sxn::after {
  /* Box Model */
  display: block;

  /* Visual */
  content: "";

  /* Misc */
  clear: both;
  box-sizing: border-box;
}

.Sxn-content {
  /* Position */
  float: left;

  /* Box Model */
  width: 100%;
}

/* Sxn: content Media Queries */
@media screen and (min-width: 760px) {
  .Sxn-content {
    width: 80%;
  }
}

.Sxn-date {
  /* Position */
  position: relative;

  /* Typography */
  font-weight: 400;
  color: rgb(32, 65, 121);
}

/* Sxn: date Media Queries */
@media screen and (min-width: 690px) {
  .Sxn-date {
    /* Position */
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 760px) {
  .Sxn-date {
    position: relative;
  }
}

@media screen and (min-width: 840px) {
  .Sxn-date {
    /* Position */
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 1020px) {
  .Sxn-date {
    position: relative;
  }
}

@media screen and (min-width: 1190px) {
  .Sxn-date {
    /* Position */
    position: absolute;
    top: 0;
    right: 0;
  }
}

.Sxn-headline {
  font-weight: 500;
}

.Sxn-textHighlight {
  /* Typography */
  font-weight: 400;
  color: rgb(19, 140, 108);
}

.Sxn-title {
  /* Position */
  float: left;

  /* Box Model */
  width: 100%;
  margin-bottom: 13px;
}

/* Sxn: title Media Queries */
@media screen and (min-width: 760px) {
  .Sxn-title {
    width: 20%;
  }
}

/* ========================================================================== */
/* Section: Experience
/* ========================================================================== */

.SxnExperience-sxn {
  margin-bottom: 26px;
}

/* ========================================================================== */
/* Section: Projects
/* ========================================================================== */

.SxnProject-sxn {
  margin-bottom: 26px;
}

/* ========================================================================== */
/* Section: Skills
/* ========================================================================== */

.SxnSkill-skillset {
  margin-bottom: 16px;
}
