/* ========================================================================== */
/* Reset Elements
/* ========================================================================== */

a,
abbr,
address,
area,
article,
aside,
audio,
b,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
datalist,
dd,
del,
details,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
img,
input,
ins,
label,
legend,
li,
main,
map,
mark,
menu,
menuitem,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
s,
samp,
script,
section,
select,
small,
source,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
track,
u,
ul,
var,
video,
wbr {
  /* Box Model */
  padding: 0;
  margin: 0;

  /* Viual */
  border: 0;

  /* Misc */
  box-sizing: border-box;
}

button {
  /* Typography */
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit;

  /* Visual */
  background-color: transparent;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

/* ========================================================================== */
/*
/* Library Stylings
/*
/* ========================================================================== */

/* ========================================================================== */
/* Button 
/* ========================================================================== */

.Btn {
  /* Typography */
  color: inherit;
  text-decoration: none;
}

.Btn[aria-disabled="true"] {
  display: none;
}

.Btn[aria-disabled="false"][href^="http"]:after {
  content: " <" attr(href) "> ";
}

/* ========================================================================== */
/* List on a single line 
/* ========================================================================== */

.ListSingleLine {
  display: block;
}

.ListSingleLine-content {
  display: inline;
}

.ListSingleLine-title {
  /* Box Model */
  display: inline-block;
  padding-right: 1.59mm;
}

.ListSingleLine-items {
  display: inline;
}

.ListSingleLine-item {
  /* Box Model */
  display: inline-block;
  padding-right: 1.59mm;
}

/* ========================================================================== */
/* Social Icon
/* ========================================================================== */

.SocialIcon-img {
  display: none;
}

.SocialIcon-link {
  font-size: 9.35pt;
}

.SocialIcon-link[href^="http"]:after,
.SocialIcon-link[href^="mail"]:after {
  content: " <" attr(href) "> ";
}

/* ========================================================================== */
/*
/* Project-Specific Stylings
/*
/* ========================================================================== */

/* ========================================================================== */
/* Page
/* ========================================================================== */

.Page {
  font: 300 10pt/1.4 "Taviraj", Georgia, serif;
}

.Page-contentBody {
  /* Typography */
  font-size: 11pt;
  line-height: 1.4;
}

.Page-headline {
  /* Typography */
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 15pt;
  font-weight: 500;
  line-height: 1.4;
  color: rgb(32, 65, 121);
  text-transform: uppercase;
}

.Page-headlineSub {
  /* Typography */
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
}

.Page-img {
  /* Box Model */
  display: block;
  max-width: 100%;
}

.Page-link {
  /* Typography */
  color: inherit;
  text-decoration: none;
}

.Page-link[href^="http"]:after {
  content: " <" attr(href) "> ";
}

.Page-socialIcon {
  /* Box Model */
  display: inline-block;
  margin-right: 2.12mm;
  margin-left: 2.12mm;
}

.Page-title {
  /* Typography */
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 34pt;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(24, 175, 134);
  text-align: center;
  text-transform: uppercase;

  /* Misc */
  page-break-after: avoid;
}

/* ========================================================================== */
/* PageHeader
/* ========================================================================== */

.PageHeader {
  /* Positioning */
  position: relative;

  /* Box Model */
  height: 100mm;
}

.PageHeader-content {
  /* Position */
  position: absolute;
  top: 30%;
  left: 50%;

  /* Box Model */
  width: 100%;
  padding: 0 7.5%;

  /* Misc */
  -webkit-transform: translate3d(-50%, -30%, 0);
  -moz-transform: translate3d(-50%, -30%, 0);
  -ms-transform: translate3d(-50%, -30%, 0);
  -o-transform: translate3d(-50%, -30%, 0);
  transform: translate3d(-50%, -30%, 0);
}

.PageHeader-headline {
  /* Typography */
  color: rgb(32, 65, 121);
  text-align: center;
}

.PageHeader-logo {
  /* Box Model */
  width: 25mm;
  margin-right: auto;
  margin-left: auto;
}

.PageHeader-socialFooter {
  /* Position */
  position: absolute;

  /* Box Model */
  bottom: 3.5%;
  text-align: center;
}

.PageHeader-socialFooterText {
  /* Typography */
  font-size: 11pt;
  text-align: center;
}

.PageHeader-sxnTitle {
  /* Positioning */
  position: relative;

  /* Box Model */
  padding-top: 4.23mm;

  /* Typography */
  text-align: center;
}

.PageHeader-text {
  /* Typography */
  font-size: 11pt;
  text-align: center;
}

.PageHeader-title {
  display: inline-block;
}

.PageHeader-tooltip {
  /* Box Model */
  width: 100%;

  /* Typography */
  text-align: center;
}

/* ========================================================================== */
/* PageMain
/* ========================================================================== */

.PageMain {
  padding: 13.76mm 8.47mm;
}

.PageMain-sxn {
  margin-bottom: 13.76mm;
}

/* ========================================================================== */
/* Education Section 
/* ========================================================================== */

.EducationSxn {
  position: relative;
}

/* ========================================================================== */
/* Experience Section 
/* ========================================================================== */

.ExperienceSxn {
  position: relative;
}

.ExperienceSxn-duties {
  /* Box Model */
  padding-left: 5.3mm;

  /* Visual */
  list-style: outside;
}

.ExperienceSxn-header {
  margin-bottom: 4.23mm;
}

.ExperienceSxn-headline {
  font-weight: 300;
}

/* ========================================================================== */
/* Project Section 
/* ========================================================================== */

.ProjectSxn-description {
  margin-bottom: 4.23mm;
}

.ProjectSxn-item {
  display: block;
}

.ProjectSxn-itemTitle {
  /* Box Model */
  display: inline-block;

  /* Typography */
  font-weight: 500;
}

.ProjectSxn-itemContent {
  display: inline-block;
}

/* ========================================================================== */
/* Resume Button 
/* ========================================================================== */

.ResumeBtn {
  text-align: center;
}

/* ========================================================================== */
/* Skillset 
/* ========================================================================== */

.Skillset-skill {
  /* Box Model */
  display: inline-block;
  padding-right: 1.6mm;
}

.Skillset-title {
  /* Box Model */
  display: inline-block;

  /* Typography */
  font-weight: 500;
}

/* ========================================================================== */
/* Section
/* ========================================================================== */

.Sxn {
  /* Position */
  position: relative;

  /* Misc */
  page-break-inside: avoid;
}

.Sxn-content {
  /* Box Model */
  display: inline-block;
  width: 80%;
}

.Sxn-date {
  /* Position */
  position: absolute;
  top: 0;
  right: 0;

  /* Typography */
  font-weight: 400;
  color: rgb(32, 65, 121);
}

.Sxn-headline {
  font-weight: 500;
}

.Sxn-textHighlight {
  /* Typography */
  font-weight: 400;
  color: rgb(19, 140, 108);
}

.Sxn-title {
  /* Box Model */
  display: inline-block;
  width: 20%;

  /* Typography */
  vertical-align: top;
}

/* ========================================================================== */
/* Section: Experience
/* ========================================================================== */

.SxnExperience-sxn {
  margin-bottom: 6.88mm;
}

/* ========================================================================== */
/* Section: Projects
/* ========================================================================== */

.SxnProject-sxn {
  margin-bottom: 6.88mm;
}

/* ========================================================================== */
/* Section: Skills
/* ========================================================================== */

.SxnSkill-skillset {
  margin-bottom: 4.23mm;
}
