a,
abbr,
address,
area,
article,
aside,
audio,
b,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
datalist,
dd,
del,
details,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
img,
input,
ins,
label,
legend,
li,
main,
map,
mark,
menu,
menuitem,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
s,
samp,
script,
section,
select,
small,
source,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
track,
u,
ul,
var,
video,
wbr {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
button {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit;
  background-color: transparent;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
.Btn {
  color: inherit;
  text-decoration: none;
}
.Btn[aria-disabled="true"] {
  display: none;
}
.Btn[aria-disabled="false"][href^="http"]:after {
  content: " <" attr(href) "> ";
}
.ListSingleLine {
  display: block;
}
.ListSingleLine-content {
  display: inline;
}
.ListSingleLine-title {
  display: inline-block;
  padding-right: 1.59mm;
}
.ListSingleLine-items {
  display: inline;
}
.ListSingleLine-item {
  display: inline-block;
  padding-right: 1.59mm;
}
.SocialIcon-img {
  display: none;
}
.SocialIcon-link {
  font-size: 9.35pt;
}
.SocialIcon-link[href^="http"]:after,
.SocialIcon-link[href^="mail"]:after {
  content: " <" attr(href) "> ";
}
.Page {
  font: 300 10pt/1.4 Taviraj, Georgia, serif;
}
.Page-contentBody {
  font-size: 11pt;
  line-height: 1.4;
}
.Page-headline {
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 15pt;
  font-weight: 500;
  line-height: 1.4;
  color: #204179;
  text-transform: uppercase;
}
.Page-headlineSub {
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
}
.Page-img {
  display: block;
  max-width: 100%;
}
.Page-link {
  color: inherit;
  text-decoration: none;
}
.Page-link[href^="http"]:after {
  content: " <" attr(href) "> ";
}
.Page-socialIcon {
  display: inline-block;
  margin-right: 2.12mm;
  margin-left: 2.12mm;
}
.Page-title {
  font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
  font-size: 34pt;
  font-weight: 600;
  line-height: 1.4;
  color: #18af86;
  text-align: center;
  text-transform: uppercase;
  page-break-after: avoid;
}
.PageHeader {
  position: relative;
  height: 100mm;
}
.PageHeader-content {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  padding: 0 7.5%;
  -webkit-transform: translate3d(-50%, -30%, 0);
  -moz-transform: translate3d(-50%, -30%, 0);
  -ms-transform: translate3d(-50%, -30%, 0);
  -o-transform: translate3d(-50%, -30%, 0);
  transform: translate3d(-50%, -30%, 0);
}
.PageHeader-headline {
  color: #204179;
  text-align: center;
}
.PageHeader-logo {
  width: 25mm;
  margin-right: auto;
  margin-left: auto;
}
.PageHeader-socialFooter {
  position: absolute;
  bottom: 3.5%;
  text-align: center;
}
.PageHeader-socialFooterText {
  font-size: 11pt;
  text-align: center;
}
.PageHeader-sxnTitle {
  position: relative;
  padding-top: 4.23mm;
  text-align: center;
}
.PageHeader-text {
  font-size: 11pt;
  text-align: center;
}
.PageHeader-title {
  display: inline-block;
}
.PageHeader-tooltip {
  width: 100%;
  text-align: center;
}
.PageMain {
  padding: 13.76mm 8.47mm;
}
.PageMain-sxn {
  margin-bottom: 13.76mm;
}
.EducationSxn {
  position: relative;
}
.ExperienceSxn {
  position: relative;
}
.ExperienceSxn-duties {
  padding-left: 5.3mm;
  list-style: outside;
}
.ExperienceSxn-header {
  margin-bottom: 4.23mm;
}
.ExperienceSxn-headline {
  font-weight: 300;
}
.ProjectSxn-description {
  margin-bottom: 4.23mm;
}
.ProjectSxn-item {
  display: block;
}
.ProjectSxn-itemTitle {
  display: inline-block;
  font-weight: 500;
}
.ProjectSxn-itemContent {
  display: inline-block;
}
.ResumeBtn {
  text-align: center;
}
.Skillset-skill {
  display: inline-block;
  padding-right: 1.6mm;
}
.Skillset-title {
  display: inline-block;
  font-weight: 500;
}
.Sxn {
  position: relative;
  page-break-inside: avoid;
}
.Sxn-content {
  display: inline-block;
  width: 80%;
}
.Sxn-date {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
  color: #204179;
}
.Sxn-headline {
  font-weight: 500;
}
.Sxn-textHighlight {
  font-weight: 400;
  color: #138c6c;
}
.Sxn-title {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
.SxnExperience-sxn {
  margin-bottom: 6.88mm;
}
.SxnProject-sxn {
  margin-bottom: 6.88mm;
}
.SxnSkill-skillset {
  margin-bottom: 4.23mm;
}
